{% include 'base.html.twig' %}


{% block body %}
<h1>Panier(s)</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date de livraison prevue</th>
                        <th>Panier Receptionné</th>
                        <th>Date de Reception prévue</th>
                        <th>Panier Actif</th>
                        <th>Problème de livraison </th>
                        <th>Cause(s) du problème</th>
                        {% if app.user %}
                            {% if is_granted('ROLE_PRODUCTEUR') %}
                            <th>actions</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for panier in paniers %}
                    <tr class="table-active">
                        <td>{{ panier.panierDatePrevue ? panier.panierDatePrevue|date('H:i:s m-d-Y') : '' }}</td>
                        <td>{{ panier.panierRecept ? 'Oui' : 'Non' }}</td>
                        <td>{{ panier.panierDateRecept ? panier.panierDateRecept|date('H:i:s m-d-Y') : '' }}</td>
                        <td>{{ panier.panierActif ? 'Oui' : 'Non' }}</td>
                        <td>{{ panier.utilPanierProbleme ? 'Oui' : 'Non' }}</td>
                        <td>{{ panier.utilPanierRaison }}</td>


                        {% if app.user %}
                        {% if is_granted('ROLE_PRODUCTEUR') %}
                        <td>
                            <a href="{{ path('panier_show', {'panierId': panier.panierId}) }}">voir</a>
                            |
                            <a href="{{ path('panier_edit', {'panierId': panier.panierId}) }}">modifier</a>
                        </td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">pas de résultats </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{{ path('panier_new') }}">Nouveau panier</a>

{% endblock %}