{% include 'base.html.twig' %}

{% block body %}
    <h1>Adhérent(s)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Trésorier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adherant in adherants %}
            <tr>
                <td>{{ adherant.adherId }}</td>
                <td>{{ adherant.adherTresorier ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('adherant_show', {'adherId': adherant.adherId}) }}">voir</a>
                    |
                    <a href="{{ path('adherant_edit', {'adherId': adherant.adherId}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adherant_new') }}">Créer</a>
{% endblock %}