{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ProdId</th>
                <th>ProdNom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.prodId }}</td>
                <td>{{ produit.prodNom }}</td>
                <td>
                    <a href="{{ path('produit_show', {'prodId': produit.prodId}) }}">show</a>
                    <a href="{{ path('produit_edit', {'prodId': produit.prodId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}