{% include 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur(s)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>téléphone</th>
                <th>email</th>
                <th>Login</th>
                <th>Mdp</th>
                <th>Actif</th>
                <th>Admin</th>
                <th>Adresse</th>
                <th>Complement d'adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Id Producteur</th>
                <th>Id Adherant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.utilId }}</td>
                <td>{{ utilisateur.utilNom }}</td>
                <td>{{ utilisateur.utilPrenom }}</td>
                <td>{{ utilisateur.utilTel }}</td>
                <td>{{ utilisateur.utilMail }}</td>
                <td>{{ utilisateur.utilLogin }}</td>
                <td>{{ utilisateur.utilMdp }}</td>
                <td>{{ utilisateur.utilActif ? 'Oui' : 'Non' }}</td>
                <td>{{ utilisateur.utilSuperadmin ? 'Oui' : 'Non' }}</td>
                <td>{{ utilisateur.utilAdresse1 }}</td>
                <td>{{ utilisateur.utilAdresse2 }}</td>
                <td>{{ utilisateur.utilCodepostal }}</td>
                <td>{{ utilisateur.utilVille }}</td>
                <td>{{ utilisateur.producteur }}</td>
                <td>{{ utilisateur.adherant }}</td>
                <td>
                    <a href="{{ path('utilisateur_show', {'utilId': utilisateur.utilId}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'utilId': utilisateur.utilId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Create new</a>
{% endblock %}